/* Variables */

:root {
  --color-primary: #0472B6;
  --color-secondary: #FF5A18;

  --color-blue-01: #2BA4C1;

  --color-gray-01: #DCDCDC;
  --color-gray-02: #FDFDFD;
  --color-gray-03: #4C4C4C;

  --color-white: #FFFFFF;
  --color-black: #0E0E0E;

  --base-size: 4px;

  --nav-top-height: 40px;
}

/* Globals */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Elements */

body {
  background-color: var(--color-gray-02);
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
}
a {
  color: var(--color-black);
}
img {}
h1, h2, h3, h4, h5, h6 {}
p {}
figure {}

/* Helpers */

.divider {}

.container {
  margin: 0 auto;
  padding: 0 12px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    max-width: 1224px;
  } 
}

.flex {
  display: flex;
}

.gap-01 {
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .gap-01 {
    gap: 12px;
  }
}

.justify-center {
  justify-content: center;
}

[class^="subtitle"] {
  color: red;
}
.subtitle-1 {}
.subtitle-2 {}


@media screen and (max-width: 768px) {
  .mobile-none {
    display: none;
  }
}

/* Icons */

.icon {}
.icon-check {}

/* Navigation on top */
.nav-top {
  background-color: rgba(0,0,0,.15);
  color: var(--color-black);
  font-size: 14px;
  height: var(--nav-top-height);
}
.nav-top__item {
  color: var(--color-black);
  align-items: center;
  display: flex;
  height: var(--nav-top-height);
  text-decoration: none;
  text-align: center;
}
.nav-top__item:hover,
.nav-top__item.active {
  text-decoration: underline;
  font-weight: 500;
}


/* Header */

.header {}
.header-logo {}
.header-logo__img {}
.header-courses {}
.header-courses ul {}
.header-courses ul li {}
.header-courses ul li a {}

.header-actions {}
.header-actions a {}

/* Main */

main {}

/* Forms */

.form {}
.form-field {}
.form-control {}
.form-control-error {}
.form button[type="submig"] {}

/* Hero */

.hero {}
.hero-grid {}

.hero-banner {}
.hero-banner .hero-banner-item {}
.hero-banner .hero-banner-item img {}
.hero-banner .hero-banner-item-wrapper {}
.hero-banner .hero-banner-item__title {}
.hero-banner .hero-banner-item__title span {}
.hero-banner .hero-banner-item__inscription {}

.hero-items {}
.hero-items li {}
.hero-items li .icon {}
.hero-items li span {}
.hero-items li.show-more {}
.hero-items li.show-more a {}

.hero-form {}
.hero-form__title {}
.hero-form button[type="submit"] {
  color: rebeccapurple;
}

/* Quotes */
.section-quotes {}
.section-quotes q {}

/* Articles */
.articles {}
.article {}
.article-description {}

/* Footer */
.footer {}
.footer [class^="contact-area"] {}
.footer .contact-area-a {}
.footer .contact-area-b {}

/* Copyright */

.copyright {}
.copyright span {}

